body{
    background: rgb(116,123,218);
background: linear-gradient(90deg, rgba(116,123,218,1) 100%, rgba(255,56,150,1) 100%);
}

header{
    display:flex;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none;
    font-size: 40px;
    color:whitesmoke;
    gap:28px;
    text-transform: uppercase;
}

.nav-item:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: azure;                                           
}